In [24]:
import numpy as np
import pandas as pd 
from nba_api.stats.endpoints import teamgamelog

## Get Team Information

In [25]:
from nba_api.stats.static import teams

# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()

# create pandas DataFrame from nba_teams with columns id, abbreviation
team_id = pd.DataFrame.from_dict(nba_teams)
team_id = team_id[['id']]

custom_headers = {
    'Host': 'stats.nba.com/stats',
    'Connection': 'keep-alive',
    'Cache-Control': 'max-age=0',
    'Upgrade-Insecure-Requests': '1',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language':'he-IL,he;q=0.8,en-US;q=0.6,en;q=0.4',
}

## Get individual Team Game Log

In [26]:

# Pistons 
gamelog = teamgamelog.TeamGameLog(season_all= '2018-19', season_type_all_star='Playoffs', team_id = team_id.loc[28, 'id'], headers=custom_headers)

ReadTimeout: HTTPSConnectionPool(host='stats.nba.com', port=443): Read timed out. (read timeout=30)

In [27]:
# Get DataFrames 
DET = gamelog.get_data_frames()[0]
DET.head(82)

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612765,0041800104,"APR 22, 2019",DET vs. MIL,L,0,4,0.0,240,41,...,0.750,10,26,36,26,8,1,10,31,104
1,1610612765,0041800103,"APR 20, 2019",DET vs. MIL,L,0,3,0.0,240,37,...,0.750,15,29,44,21,9,6,9,24,103
2,1610612765,0041800102,"APR 17, 2019",DET @ MIL,L,0,2,0.0,240,37,...,0.765,11,32,43,23,5,7,8,21,99
3,1610612765,0041800101,"APR 14, 2019",DET @ MIL,L,0,1,0.0,240,35,...,0.615,7,39,46,22,7,2,13,21,86

## Get Game Logs for every team 2018-19

In [28]:
df_dict = {}
for team_id in team_id['id']:
    data = teamgamelog.TeamGameLog(season_all='2018-19', season_type_all_star='Playoffs', team_id = team_id, timeout=300, headers=custom_headers).get_data_frames()[0]
    df_dict.update({team_id : data})

In [29]:
# Check Type
print(type(df_dict))

# Check length of df_dict to make sure there is data for each team
print(len(df_dict.keys()))
df_dict

<class 'dict'>
30

{1610612737: Empty DataFrame
 Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
 Index: []

 [0 rows x 27 columns],
 1610612738:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612738  0041800201  APR 28, 2019    BOS @ MIL  W  1  0    1.0  240
 1  1610612738  0041800134  APR 21, 2019    BOS @ IND  W  4  0    1.0  240
 2  1610612738  0041800133  APR 19, 2019    BOS @ IND  W  3  0    1.0  240
 3  1610612738  0041800132  APR 17, 2019  BOS vs. IND  W  2  0    1.0  240
 4  1610612738  0041800131  APR 14, 2019  BOS vs. IND  W  1  0    1.0  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   47 ...    0.625     3    48   51   25    5   11   11  21  112
 1   36 ...    0.794     7    36   43   18    7    1   16  23  110
 2   38 ...    0.591     9    36   45   23    4    4   13  19  104
 3   40 ...    0.889     7    41   48   22    3    5   14  16   99
 4   28 ...    0.818     7    48   55   18    8    2   17  20   84

 [5 rows x 27 columns],
 1610612739: Empty DataFrame
 Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
 Index: []

 [0 rows x 27 columns],
 1610612740: Empty DataFrame
 Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
 Index: []

 [0 rows x 27 columns],
 1610612741: Empty DataFrame
 Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
 Index: []

 [0 rows x 27 columns],
 1610612742: Empty DataFrame
 Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
 Index: []

 [0 rows x 27 columns],
 1610612743:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612743  0041800231  APR 29, 2019  DEN vs. POR  W  1  0  1.000  240
 1  1610612743  0041800157  APR 27, 2019  DEN vs. SAS  W  4  3  0.571  240
 2  1610612743  0041800156  APR 25, 2019    DEN @ SAS  L  3  3  0.500  240
 3  1610612743  0041800155  APR 23, 2019  DEN vs. SAS  W  3  2  0.600  240
 4  1610612743  0041800154  APR 20, 2019    DEN @ SAS  W  2  2  0.500  240
 5  1610612743  0041800153  APR 18, 2019    DEN @ SAS  L  1  2  0.333  240
 6  1610612743  0041800152  APR 16, 2019  DEN vs. SAS  W  1  1  0.500  240
 7  1610612743  0041800151  APR 13, 2019  DEN vs. SAS  L  0  1  0.000  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   41 ...    0.871     7    27   34   22   12    7   12  22  121
 1   35 ...    0.783    13    40   53   21    3    8    6  19   90
 2   44 ...    0.750    12    25   37   26    5    3    7  18  103
 3   39 ...    0.800     7    42   49   25    4    6   13  21  108
 4   40 ...    0.917    11    34   45   25    4    2    7  22  117
 5   42 ...    0.529    10    27   37   31    3    1   13  21  108
 6   43 ...    0.692     7    34   41   29    5    2    5  21  114
 7   37 ...    0.667    13    33   46   25    8    3   10  18   96

 [8 rows x 27 columns],
 1610612744:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612744  0041800221  APR 28, 2019  GSW vs. HOU  W  1  0  1.000  240
 1  1610612744  0041800146  APR 26, 2019    GSW @ LAC  W  4  2  0.667  240
 2  1610612744  0041800145  APR 24, 2019  GSW vs. LAC  L  3  2  0.600  240
 3  1610612744  0041800144  APR 21, 2019    GSW @ LAC  W  3  1  0.750  240
 4  1610612744  0041800143  APR 18, 2019    GSW @ LAC  W  2  1  0.667  240
 5  1610612744  0041800142  APR 15, 2019  GSW vs. LAC  L  1  1  0.500  240
 6  1610612744  0041800141  APR 13, 2019  GSW vs. LAC  W  1  0  1.000  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   38 ...    0.778     8    30   38   24    7    3   20  24  104
 1   47 ...    0.806     7    39   46   32    6    9   10  24  129
 2   43 ...    0.909    15    24   39   31    7    3    8  23  121
 3   42 ...    0.895    11    38   49   27    5    2   13  27  113
 4   51 ...    0.833    10    40   50   35    4   11   12  28  132
 5   40 ...    0.889     7    31   38   31   11    6   22  31  131
 6   45 ...    0.850    12    42   54   31    9   14   21  22  121

 [7 rows x 27 columns],
 1610612745:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612745  0041800221  APR 28, 2019    HOU @ GSW  L  0  1   0.00  240
 1  1610612745  0041800175  APR 24, 2019  HOU vs. UTA  W  4  1   0.80  240
 2  1610612745  0041800174  APR 22, 2019    HOU @ UTA  L  3  1   0.75  240
 3  1610612745  0041800173  APR 20, 2019    HOU @ UTA  W  3  0   1.00  240
 4  1610612745  0041800172  APR 17, 2019  HOU vs. UTA  W  2  0   1.00  240
 5  1610612745  0041800171  APR 14, 2019  HOU vs. UTA  W  1  0   1.00  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   31 ...    0.828     3    23   26   14   14    3   14  21  100
 1   36 ...    0.682     9    37   46   17   12   12   17  21  100
 2   28 ...    0.750     9    26   35   14    9    4   15  23   91
 3   33 ...    0.676     9    43   52   19   11    4   13  25  104
 4   38 ...    0.833     8    38   46   17    8    9   18  18  118
 5   48 ...    0.917     8    34   42   25    6    6   10  20  122

 [6 rows x 27 columns],
 1610612746:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612746  0041800146  APR 26, 2019  LAC vs. GSW  L  2  4  0.333  240
 1  1610612746  0041800145  APR 24, 2019    LAC @ GSW  W  2  3  0.400  240
 2  1610612746  0041800144  APR 21, 2019  LAC vs. GSW  L  1  3  0.250  240
 3  1610612746  0041800143  APR 18, 2019  LAC vs. GSW  L  1  2  0.333  240
 4  1610612746  0041800142  APR 15, 2019    LAC @ GSW  W  1  1  0.500  240
 5  1610612746  0041800141  APR 13, 2019    LAC @ GSW  L  0  1  0.000  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   38 ...    0.821    16    33   49   22    7    5   14  26  110
 1   46 ...    0.923     9    33   42   29    3    1   10  23  129
 2   34 ...    0.750     4    29   33   22    8    4   10  21  105
 3   35 ...    0.824    16    27   43   21    6    2   12  25  105
 4   48 ...    0.806     8    26   34   34   14    1   19  33  135
 5   38 ...    0.773     7    33   40   24   10    7   16  22  104

 [6 rows x 27 columns],
 1610612747: Empty DataFrame
 Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
 Index: []

 [0 rows x 27 columns],
 1610612748: Empty DataFrame
 Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
 Index: []

 [0 rows x 27 columns],
 1610612749:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612749  0041800201  APR 28, 2019  MIL vs. BOS  L  0  1    0.0  240
 1  1610612749  0041800104  APR 22, 2019    MIL @ DET  W  4  0    1.0  240
 2  1610612749  0041800103  APR 20, 2019    MIL @ DET  W  3  0    1.0  240
 3  1610612749  0041800102  APR 17, 2019  MIL vs. DET  W  2  0    1.0  240
 4  1610612749  0041800101  APR 14, 2019  MIL vs. DET  W  1  0    1.0  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   31 ...    0.625     7    37   44   19    6    2   10  11   90
 1   43 ...    0.756    10    44   54   27    6   10   17  21  127
 2   42 ...    0.875    13    38   51   24    5    6   15  22  119
 3   47 ...    0.714     8    46   54   32    5   11   12  21  120
 4   44 ...    0.692     8    46   54   31    7    8   10  16  121

 [5 rows x 27 columns],
 1610612750: Empty DataFrame
 Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
 Index: []

 [0 rows x 27 columns],
 1610612751:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612751  0041800125  APR 23, 2019    BKN @ PHI  L  1  4  0.200  240
 1  1610612751  0041800124  APR 20, 2019  BKN vs. PHI  L  1  3  0.250  240
 2  1610612751  0041800123  APR 18, 2019  BKN vs. PHI  L  1  2  0.333  240
 3  1610612751  0041800122  APR 15, 2019    BKN @ PHI  L  1  1  0.500  240
 4  1610612751  0041800121  APR 13, 2019    BKN @ PHI  W  1  0  1.000  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   36 ...    0.760     9    32   41   26   10    4   14  13  100
 1   36 ...    0.774    12    29   41   23   10    4   14  26  108
 2   39 ...    0.829    13    30   43   12    6    2   15  24  115
 3   43 ...    0.759    12    20   32   20    3    2   14  24  123
 4   38 ...    0.923    10    35   45   15    9    2   11  27  111

 [5 rows x 27 columns],
 1610612752: Empty DataFrame
 Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
 Index: []

 [0 rows x 27 columns],
 1610612753:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612753  0041800115  APR 23, 2019    ORL @ TOR  L  1  4  0.200  240
 1  1610612753  0041800114  APR 21, 2019  ORL vs. TOR  L  1  3  0.250  240
 2  1610612753  0041800113  APR 19, 2019  ORL vs. TOR  L  1  2  0.333  240
 3  1610612753  0041800112  APR 16, 2019    ORL @ TOR  L  1  1  0.500  240
 4  1610612753  0041800111  APR 13, 2019    ORL @ TOR  W  1  0  1.000  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   32 ...    0.742    12    36   48   20    7    5   16  21   96
 1   34 ...    0.769     7    27   34   20    7    2   17  19   85
 2   29 ...    0.957     7    35   42   19    8    5   16  17   93
 3   30 ...    0.542    12    33   45   17    2    4   17  18   82
 4   36 ...    0.900    10    38   48   19    9    4   11  19  104

 [5 rows x 27 columns],
 1610612754:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612754  0041800134  APR 21, 2019  IND vs. BOS  L  0  4    0.0  240
 1  1610612754  0041800133  APR 19, 2019  IND vs. BOS  L  0  3    0.0  240
 2  1610612754  0041800132  APR 17, 2019    IND @ BOS  L  0  2    0.0  240
 3  1610612754  0041800131  APR 14, 2019    IND @ BOS  L  0  1    0.0  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   36 ...    0.857    11    32   43   18    5    2   12  25  106
 1   34 ...    0.739     8    32   40   20    9    4    9  19   96
 2   36 ...    0.600     4    32   36   23   11    3   11  16   91
 3   28 ...    0.571     9    33   42   22    8    5   13  20   74

 [4 rows x 27 columns],
 1610612755:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612755  0041800212  APR 29, 2019    PHI @ TOR  W  1  1  0.500  240
 1  1610612755  0041800211  APR 27, 2019    PHI @ TOR  L  0  1  0.000  240
 2  1610612755  0041800125  APR 23, 2019  PHI vs. BKN  W  4  1  0.800  240
 3  1610612755  0041800124  APR 20, 2019    PHI @ BKN  W  3  1  0.750  240
 4  1610612755  0041800123  APR 18, 2019    PHI @ BKN  W  2  1  0.667  240
 5  1610612755  0041800122  APR 15, 2019  PHI vs. BKN  W  1  1  0.500  240
 6  1610612755  0041800121  APR 13, 2019  PHI vs. BKN  L  0  1  0.000  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   30 ...    0.923     9    43   52   22    5    4   19  18   94
 1   35 ...    0.667    13    34   47   23    5    2   14  21   95
 2   51 ...    0.667    11    45   56   35   10    3   19  21  122
 3   44 ...    0.762    12    44   56   25    6    8   19  24  112
 4   45 ...    0.857    15    39   54   26    9    5   16  29  131
 5   55 ...    0.813    15    34   49   29    8    3   12  23  145
 6   35 ...    0.690    16    34   50   20    6   11   13  24  102

 [7 rows x 27 columns],
 1610612756: Empty DataFrame
 Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
 Index: []

 [0 rows x 27 columns],
 1610612757:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612757  0041800231  APR 29, 2019    POR @ DEN  L  0  1  0.000  240
 1  1610612757  0041800165  APR 23, 2019  POR vs. OKC  W  4  1  0.800  240
 2  1610612757  0041800164  APR 21, 2019    POR @ OKC  W  3  1  0.750  240
 3  1610612757  0041800163  APR 19, 2019    POR @ OKC  L  2  1  0.667  240
 4  1610612757  0041800162  APR 16, 2019  POR vs. OKC  W  2  0  1.000  240
 5  1610612757  0041800161  APR 14, 2019  POR vs. OKC  W  1  0  1.000  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   41 ...    0.741     9    31   40   20    6    5   18  24  113
 1   45 ...    0.652    13    32   45   22    8    5    9  18  118
 2   37 ...    0.957     8    41   49   16   10    8   12  22  111
 3   39 ...    0.750    12    29   41   18    5    1   18  33  108
 4   42 ...    0.810     7    37   44   17    9    6   12  27  114
 5   36 ...    0.778    13    35   48   14    8    9   18  17  104

 [6 rows x 27 columns],
 1610612758: Empty DataFrame
 Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
 Index: []

 [0 rows x 27 columns],
 1610612759:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612759  0041800157  APR 27, 2019    SAS @ DEN  L  3  4  0.429  240
 1  1610612759  0041800156  APR 25, 2019  SAS vs. DEN  W  3  3  0.500  240
 2  1610612759  0041800155  APR 23, 2019    SAS @ DEN  L  2  3  0.400  240
 3  1610612759  0041800154  APR 20, 2019  SAS vs. DEN  L  2  2  0.500  240
 4  1610612759  0041800153  APR 18, 2019  SAS vs. DEN  W  2  1  0.667  240
 5  1610612759  0041800152  APR 16, 2019    SAS @ DEN  L  1  1  0.500  240
 6  1610612759  0041800151  APR 13, 2019    SAS @ DEN  W  1  0  1.000  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   31 ...    0.900     8    37   45   19    3    5    6  20   86
 1   48 ...    0.824    10    31   41   25    3    7    7  17  120
 2   37 ...    0.600    10    32   42   17    6    3    7  20   90
 3   37 ...    0.750    11    35   46   23    4    4    9  22  103
 4   44 ...    0.719    15    30   45   24    9    2    6  20  118
 5   39 ...    0.880    11    39   50   20    3    3   10  20  105
 6   40 ...    0.700    10    37   47   20    4    4   11  17  101

 [7 rows x 27 columns],
 1610612760:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612760  0041800165  APR 23, 2019    OKC @ POR  L  1  4  0.200  240
 1  1610612760  0041800164  APR 21, 2019  OKC vs. POR  L  1  3  0.250  240
 2  1610612760  0041800163  APR 19, 2019  OKC vs. POR  W  1  2  0.333  240
 3  1610612760  0041800162  APR 16, 2019    OKC @ POR  L  0  2  0.000  240
 4  1610612760  0041800161  APR 14, 2019    OKC @ POR  L  0  1  0.000  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   47 ...    0.600     6    33   39   24    4    8   15  22  115
 1   33 ...    0.773     6    38   44   23    7    4   14  22   98
 2   37 ...    0.795     8    29   37   27    6    5   15  24  120
 3   35 ...    0.679    13    34   47   21    6    6   16  27   94
 4   37 ...    0.870    18    31   49   18   10    4   16  26   99

 [5 rows x 27 columns],
 1610612761:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612761  0041800212  APR 29, 2019  TOR vs. PHI  L  1  1  0.500  240
 1  1610612761  0041800211  APR 27, 2019  TOR vs. PHI  W  1  0  1.000  240
 2  1610612761  0041800115  APR 23, 2019  TOR vs. ORL  W  4  1  0.800  240
 3  1610612761  0041800114  APR 21, 2019    TOR @ ORL  W  3  1  0.750  240
 4  1610612761  0041800113  APR 19, 2019    TOR @ ORL  W  2  1  0.667  240
 5  1610612761  0041800112  APR 16, 2019  TOR vs. ORL  W  1  1  0.500  240
 6  1610612761  0041800111  APR 13, 2019  TOR vs. ORL  L  0  1  0.000  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   33 ...    0.867     9    27   36   20   10    4   10  22   89
 1   41 ...    0.708     2    38   40   21    3    6   10  24  108
 2   41 ...    0.857     8    40   48   34    8    3   14  30  115
 3   40 ...    0.889     7    38   45   23   11    6   14  20  107
 4   39 ...    0.900     8    35   43   26    9    3   13  23   98
 5   42 ...    0.941     6    36   42   25   10    5    7  23  111
 6   40 ...    0.643     6    39   45   23    4    4   12  19  101

 [7 rows x 27 columns],
 1610612762:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612762  0041800175  APR 24, 2019    UTA @ HOU  L  1  4   0.20  240
 1  1610612762  0041800174  APR 22, 2019  UTA vs. HOU  W  1  3   0.25  240
 2  1610612762  0041800173  APR 20, 2019  UTA vs. HOU  L  0  3   0.00  240
 3  1610612762  0041800172  APR 17, 2019    UTA @ HOU  L  0  2   0.00  240
 4  1610612762  0041800171  APR 14, 2019    UTA @ HOU  L  0  1   0.00  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   35 ...    0.737    14    33   47   26    8    4   15  22   93
 1   37 ...    0.846    16    36   52   24    7    7   14  19  107
 2   32 ...    0.658     7    41   48   21    9   11   14  22  101
 3   39 ...    0.667    15    33   48   27   16    3   12  26   98
 4   30 ...    0.852     7    34   41   17    6    2   18  20   90

 [5 rows x 27 columns],
 1610612763: Empty DataFrame
 Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
 Index: []

 [0 rows x 27 columns],
 1610612764: Empty DataFrame
 Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
 Index: []

 [0 rows x 27 columns],
 1610612765:       Team_ID     Game_ID     GAME_DATE      MATCHUP WL  W  L  W_PCT  MIN  \
 0  1610612765  0041800104  APR 22, 2019  DET vs. MIL  L  0  4    0.0  240
 1  1610612765  0041800103  APR 20, 2019  DET vs. MIL  L  0  3    0.0  240
 2  1610612765  0041800102  APR 17, 2019    DET @ MIL  L  0  2    0.0  240
 3  1610612765  0041800101  APR 14, 2019    DET @ MIL  L  0  1    0.0  240

    FGM ...   FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS
 0   41 ...    0.750    10    26   36   26    8    1   10  31  104
 1   37 ...    0.750    15    29   44   21    9    6    9  24  103
 2   37 ...    0.765    11    32   43   23    5    7    8  21   99
 3   35 ...    0.615     7    39   46   22    7    2   13  21   86

 [4 rows x 27 columns],
 1610612766: Empty DataFrame
 Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
 Index: []

 [0 rows x 27 columns]}

## Deconstruct Dictionary

In [30]:
# Deconstruct dictionary to individual dataframes for each team

dictget = lambda df_dict, *k: [df_dict[i] for i in k]

In [35]:
# Deconstruct dictionary by team_id and assign it to each teams respective abbreviation
ATL, BOS, CLE, NOP, CHI, DAL, \
DEN, GSW, HOU, LAC, LAL, MIA, \
MIL, MIN, BKN, NYK, ORL, IND, \
PHI, PHX, POR, SAC, SAS, OKC, \
TOR, UTA, MEM, WAS, DET, CHA = dictget(df_dict, \
                                        1610612737, 1610612738, 1610612739, 1610612740, 1610612741, \
                                        1610612742, 1610612743, 1610612744, 1610612745, 1610612746, \
                                        1610612747, 1610612748, 1610612749, 1610612750, 1610612751, \
                                        1610612752, 1610612753, 1610612754, 1610612755, 1610612756, \
                                        1610612757, 1610612758, 1610612759, 1610612760, 1610612761, \
                                        1610612762, 1610612763, 1610612764, 1610612765, 1610612766)

In [36]:
print(type(ATL))

<class 'pandas.core.frame.DataFrame'>

In [45]:
CHA.head()

Empty DataFrame
Columns: [Team_ID, Game_ID, GAME_DATE, MATCHUP, WL, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 27 columns]

In [46]:
print(type(BOS))
BOS.head()

<class 'pandas.core.frame.DataFrame'>

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612738,0041800201,"APR 28, 2019",BOS @ MIL,W,1,0,1.0,240,47,...,0.625,3,48,51,25,5,11,11,21,112
1,1610612738,0041800134,"APR 21, 2019",BOS @ IND,W,4,0,1.0,240,36,...,0.794,7,36,43,18,7,1,16,23,110
2,1610612738,0041800133,"APR 19, 2019",BOS @ IND,W,3,0,1.0,240,38,...,0.591,9,36,45,23,4,4,13,19,104
3,1610612738,0041800132,"APR 17, 2019",BOS vs. IND,W,2,0,1.0,240,40,...,0.889,7,41,48,22,3,5,14,16,99
4,1610612738,0041800131,"APR 14, 2019",BOS vs. IND,W,1,0,1.0,240,28,...,0.818,7,48,55,18,8,2,17,20,84

In [47]:
# Store DataFrames in data table 
team_list = [ATL, BOS, CLE, NOP, CHI, DAL, \
             DEN, GSW, HOU, LAC, LAL, MIA, \
             MIL, MIN, BKN, NYK, ORL, IND, \
             PHI, PHX, POR, SAC, SAS, OKC, \
             TOR, UTA, MEM, WAS, DET, CHA]
abbreviations = ["ATL", "BOS", "CLE", "NOP", "CHI", "DAL", \
             "DEN", "GSW", "HOU", "LAC", "LAL", "MIA", \
             "MIL", "MIN", "BKN", "NYK", "ORL", "IND", \
             "PHI", "PHX", "POR", "SAC", "SAS", "OKC", \
             "TOR", "UTA", "MEM", "WAS", "DET", "CHA"]
data = pd.DataFrame({'DataFrame': team_list, 
                        'Name': abbreviations})
data.head(30)

                                            DataFrame Name
0   Empty DataFrame
Columns: [Team_ID, Game_ID, GA...  ATL
1         Team_ID     Game_ID     GAME_DATE      M...  BOS
2   Empty DataFrame
Columns: [Team_ID, Game_ID, GA...  CLE
3   Empty DataFrame
Columns: [Team_ID, Game_ID, GA...  NOP
4   Empty DataFrame
Columns: [Team_ID, Game_ID, GA...  CHI
5   Empty DataFrame
Columns: [Team_ID, Game_ID, GA...  DAL
6         Team_ID     Game_ID     GAME_DATE      M...  DEN
7         Team_ID     Game_ID     GAME_DATE      M...  GSW
8         Team_ID     Game_ID     GAME_DATE      M...  HOU
9         Team_ID     Game_ID     GAME_DATE      M...  LAC
10  Empty DataFrame
Columns: [Team_ID, Game_ID, GA...  LAL
11  Empty DataFrame
Columns: [Team_ID, Game_ID, GA...  MIA
12        Team_ID     Game_ID     GAME_DATE      M...  MIL
13  Empty DataFrame
Columns: [Team_ID, Game_ID, GA...  MIN
14        Team_ID     Game_ID     GAME_DATE      M...  BKN
15  Empty DataFrame
Columns: [Team_ID, Game_ID, GA...  NYK
16        Team_ID     Game_ID     GAME_DATE      M...  ORL
17        Team_ID     Game_ID     GAME_DATE      M...  IND
18        Team_ID     Game_ID     GAME_DATE      M...  PHI
19  Empty DataFrame
Columns: [Team_ID, Game_ID, GA...  PHX
20        Team_ID     Game_ID     GAME_DATE      M...  POR
21  Empty DataFrame
Columns: [Team_ID, Game_ID, GA...  SAC
22        Team_ID     Game_ID     GAME_DATE      M...  SAS
23        Team_ID     Game_ID     GAME_DATE      M...  OKC
24        Team_ID     Game_ID     GAME_DATE      M...  TOR
25        Team_ID     Game_ID     GAME_DATE      M...  UTA
26  Empty DataFrame
Columns: [Team_ID, Game_ID, GA...  MEM
27  Empty DataFrame
Columns: [Team_ID, Game_ID, GA...  WAS
28        Team_ID     Game_ID     GAME_DATE      M...  DET
29  Empty DataFrame
Columns: [Team_ID, Game_ID, GA...  CHA

## Save DataFrames as CSV's

In [48]:
# for i in range(30):
#     data['DataFrame'][i].to_csv('../Resources/team_game_logs/2018-2019/%s.csv' % (data['Name'][i]))
#     i+=1

In [49]:
# # Concatinate all dataframes and Save combined_df as CSV
# combined_df = pd.concat(team_list)
# combined_df.to_csv('../Resources/team_game_logs/2018-2019/ALL_game_logs_1819.csv')

## Save DataFrames in SQL Database

In [50]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [51]:
# Create Engine and Pass in MySQL Connection
engine = create_engine("mysql://root:et66gh06@127.0.0.1:3306/NBA_DATA")
con = engine.connect()

In [52]:
# Save DataFrames to SQL. Change Game_ID column to INT(11). Make Game_ID column Primary Key 
for i in range(30):
    data['DataFrame'][i].to_sql(name=data['Name'][i], con=con, if_exists='append', index_label="Game_ID", index=False)
    i+=1